In [5]:
# üì¶ Imports
import pandas as pd
import os

# üìÅ D√©finir le chemin du fichier
data_path = os.path.join("..", "data", "raw","electric_school_bus_adoption_dataset_v8_2024-08Aug", "ESB_adoption_dataset_v8_update_august_2024.xlsx")

# üìë Charger toutes les feuilles utiles
sheets = pd.read_excel(data_path, sheet_name=None)  # Charge toutes les feuilles dans un dict

# üóÇÔ∏è Liste des noms de feuilles
print("Feuilles disponibles :", list(sheets.keys()))
# üè∑Ô∏è Extraire les feuilles cl√©s
df_districts = sheets['1. District-level data']
df_buses = sheets['2. Bus-level data']
df_states = sheets['3. State-level data']
df_utilities = sheets['4. Utilities']

Feuilles disponibles : ['Glossary', 'Key stats', '1. District-level data', '2. Bus-level data', '3. State-level data', '4. Utilities', '5. Counties', '6. Congressional districts']

In [6]:
# üîç Exploration de la feuille "1. District-level data"
print("üìä Aper√ßu - District-level data")
display(df_districts.head(3))
df_districts.info()
df_districts.describe(include='all')

# üîç Exploration de la feuille "2. Bus-level data"
print("\nüöå Aper√ßu - Bus-level data")
display(df_buses.head(3))
df_buses.info()
df_buses.describe(include='all')

# üîç Exploration de la feuille "3. State-level data"
print("\nüìç Aper√ßu - State-level data")
display(df_states.head(3))

# üîç Exploration de la feuille "4. Utilities"
print("\nüîå Aper√ßu - Utilities")
display(df_utilities.head(3))

üìä Aper√ßu - District-level data

,0a. Has committed ESBs?,1a. State,1b. Local Education Agency (LEA) or entity name,1c. LEA ID,1d. Street address 1,1e. Street address 2,1f. City,1g. State,1h. ZIP code,1i. Website,...,5q. WRI Priority Outreach District (POD)?,6a. Has any expression of interest in ESBs?,6b. ARP 2021 waitlist position,6c. DERA school bus rebates 2020 waitlist position,6d. DERA school bus rebates 2021 waitlist position,6e. Applied for ESB funding but not awarded,6f. Member of Climate Mayors Electric Vehicle Purchasing Collaborative?,6g. School district sustainability commitment,6h. District contains Generation180 Solar School?,6i. Participating in Trust for Public Land's Active Community Schoolyard program?
0,no,ALABAMA,Alabama Youth Services,100002,1000 Industrial School Road,NaN,Mt Meigs,AL,36057.0,http://www.dys.alabama.gov/school-district.html,...,False,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,no,ALABAMA,Marshall County,100006,12380 US Highway 431 S,NaN,Guntersville,AL,35976.0,http://www.marshallk12.org,...,False,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,no,ALABAMA,Hoover City,100007,2810 Metropolitan Way,NaN,Hoover,AL,35243.0,http://www.hoovercityschools.net,...,False,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19516 entries, 0 to 19515
Data columns (total 91 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   0a. Has committed ESBs?                                                             19516 non-null  object
 1   1a. State                                                                           19516 non-null  object
 2   1b. Local Education Agency (LEA) or entity name                                     19516 non-null  object
 3   1c. LEA ID                                                                          19516 non-null  object
 4   1d. Street address 1                                                                19507 non-null  object
 5   1e. Street address 2                                                                360 non-null    object
 6   1f. City                                                                            19509 non-null  object
 7   1g. State                                                                           19516 non-null  object
 8   1h. ZIP code                                                                        19508 non-null  float64
 9   1i. Website                                                                         16701 non-null  object
 10  1j. Has LEA ID?                                                                     19516 non-null  object
 11  1k. LEA type (number)                                                               19473 non-null  float64
 12  1l. LEA type (name)                                                                 19516 non-null  object
 13  1m. Supervisory union LEA ID                                                        679 non-null    float64
 14  1n. Locale (full number)                                                            19485 non-null  float64
 15  1o. Locale broad type (number)                                                      19516 non-null  object
 16  1p. Locale broad type (name)                                                        19516 non-null  object
 17  1q. Census Region                                                                   19506 non-null  object
 18  1r. Census Division                                                                 19506 non-null  object
 19  1s. Latitude                                                                        19516 non-null  float64
 20  1t. Longitude                                                                       19516 non-null  float64
 21  2a. Total number of buses                                                           9730 non-null   float64
 22  2b. Contractor used for some or all of buses?                                       1376 non-null   object
 23  3a. Number of ESBs committed                                                        19516 non-null  int64
 24  3b. Number of delivered or operating ESBs                                           19516 non-null  int64
 25  3c. Number of ESBs awarded                                                          19516 non-null  int64
 26  3d. Number of ESBs ordered                                                          19516 non-null  int64
 27  3e. Number of ESBs delivered                                                        19516 non-null  int64
 28  3f. Number of ESBs operating                                                        19516 non-null  int64
 29  3g. Number of batches                                                               19516 non-null  int64
 30  3h. Size of batch 1                                                                 19516 non-null  int64
 31  3h. Size of batch 2                                                                 19516 non-null  int64
 32  3h. Size of batch 3                                                                 19516 non-null  int64
 33  3h. Size of batch 4                                                                 19516 non-null  int64
 34  3h. Size of batch 5                                                                 19516 non-null  int64
 35  3i. Percent of fleet that is electric                                               19212 non-null  float64
 36  3j. Government agency involved (non-funding)                                        8 non-null      object
 37  3k. Utility/energy company involved 1                                               137 non-null    object
 38  3k. Utility/energy company involved 2                                               17 non-null     object
 39  3k. Utility/energy company involved 3                                               3 non-null      object
 40  3l. Other groups involved 1                                                         65 non-null     object
 41  3l. Other groups involved 2                                                         14 non-null     object
 42  3l. Other groups involved 3                                                         3 non-null      object
 43  3m. Other notes                                                                     8 non-null      object
 44  4a. Tribal school district?                                                         19516 non-null  object
 45  4b. Number of students in district                                                  18554 non-null  float64
 46  4c. Number of schools in district                                                   19473 non-null  float64
 47  4d. Percentage of schools in district that are Title I schoolwide eligible          18328 non-null  float64
 48  4e. Percentage of students in district eligible for free or reduced price lunch     18019 non-null  float64
 49  4f. Median household income                                                         13014 non-null  float64
 50  4g. Percent of population below the poverty level                                   13073 non-null  float64
 51  4h. Percent one race: White                                                         13080 non-null  float64
 52  4i. Percent race alone or multiracial: White                                        13076 non-null  float64
 53  4j. Percent one race: Black or African American                                     13080 non-null  float64
 54  4k. Percent race alone or multiracial: Black or African American                    13076 non-null  float64
 55  4l. Percent one race: American Indian and Alaska Native                             13080 non-null  float64
 56  4m. Percent race alone or multiracial: American Indian and Alaska Native            13076 non-null  float64
 57  4n. Percent one race: Asian                                                         13080 non-null  float64
 58  4o. Percent race alone or multiracial: Asian                                        13076 non-null  float64
 59  4p. Percent one race: Native Hawaiian and Other Pacific Islander                    13080 non-null  float64
 60  4q. Percent race alone or multiracial: Native Hawaiian and Other Pacific Islander   13076 non-null  float64
 61  4r. Percent one race: some other race                                               13076 non-null  float64
 62  4s. Percent race alone or multiracial: Some other race                              13076 non-null  float64
 63  4t. Percent two or more races                                                       13080 non-null  float64
 64  4u. Percent Hispanic or Latino (of any race)                                        13080 non-null  float64
 65  5a. EPA Region                                                                      19516 non-null  int64
 66  5b. Percent non-white and/or Hispanic                                               13192 non-null  float64
 67  5c. Quartile: percent non-white and/or Hispanic                                     13192 non-null  float64
 68  5d. Percent low-income (200% of federal poverty level)                              13192 non-null  float64
 69  5e. Quartile: percent low-income                                                    13192 non-null  float64
 70  5f. PM2.5 concentration                                                             13192 non-null  float64
 71  5g. Quartile: PM2.5 concentration                                                   13192 non-null  float64
 72  5h. Ozone concentration                                                             13192 non-null  float64
 73  5i. Quartile: ozone concentration                                                   13192 non-null  float64
 74  5j. Percent of school children with a disability                                    11267 non-null  float64
 75  5k. Quartile: percent of school children with a disability                          11267 non-null  float64
 76  5l. Average rate of asthma among adults aged 18 and older                           13066 non-null  float64
 77  5m. Quartile: average rate of asthma                                                13066 non-null  float64
 78  5n. Qualified for American Rescue Plan funding?                                     19516 non-null  object
 79  5o. EPA 2022 Clean School Bus Rebate Program prioritized school district?           19516 non-null  object
 80  5p. EPA 2023 Clean School Bus Grant & Rebate Programs prioritized school district?  19516 non-null  object
 81  5q. WRI Priority Outreach District (POD)?                                           19386 non-null  object
 82  6a. Has any expression of interest in ESBs?                                         19493 non-null  float64
 83  6b. ARP 2021 waitlist position                                                      28 non-null     float64
 84  6c. DERA school bus rebates 2020 waitlist position                                  228 non-null    float64
 85  6d. DERA school bus rebates 2021 waitlist position                                  124 non-null    object
 86  6e. Applied for ESB funding but not awarded                                         1769 non-null   object
 87  6f. Member of Climate Mayors Electric Vehicle Purchasing Collaborative?             2631 non-null   object
 88  6g. School district sustainability commitment                                       201 non-null    object
 89  6h. District contains Generation180 Solar School?                                   2442 non-null   object
 90  6i. Participating in Trust for Public Land's Active Community Schoolyard program?   14 non-null     object
dtypes: float64(43), int64(13), object(35)
memory usage: 13.5+ MB

üöå Aper√ßu - Bus-level data

,1a. State,1b. LEA or entity name,1c. LEA ID,1f. City,2c. Fleet operator 1,2c. Fleet operator 2,3a. Number of ESBs committed,3n. Current status of bus,3o. Batch,3p. Quarter awarded,...,3z. Funding source 3,3aa. Agency administering funds 3,3z. Funding source 4,3aa. Agency administering funds 4,3ab. Dollar amount toward bus,3ac. Charging company,3ad. Charging funding source,3ae. Dollar amount toward charger,3af. Notes 1,3af. Notes 2
0,ALABAMA,Albertville City,100005,Albertville,NaN,NaN,19,Operating,1,2022 Q4,...,NaN,NaN,NaN,NaN,375000.0,NaN,NaN,20000.0,NaN,NaN
1,ALABAMA,Albertville City,100005,Albertville,NaN,NaN,19,Operating,1,2022 Q4,...,NaN,NaN,NaN,NaN,375000.0,NaN,NaN,20000.0,NaN,NaN
2,ALABAMA,Albertville City,100005,Albertville,NaN,NaN,19,Operating,1,2022 Q4,...,NaN,NaN,NaN,NaN,375000.0,NaN,NaN,20000.0,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12174 entries, 0 to 12173
Data columns (total 41 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   1a. State                                            12174 non-null  object
 1   1b. LEA or entity name                               12174 non-null  object
 2   1c. LEA ID                                           12174 non-null  object
 3   1f. City                                             12156 non-null  object
 4   2c. Fleet operator 1                                 4307 non-null   object
 5   2c. Fleet operator 2                                 71 non-null     object
 6   3a. Number of ESBs committed                         12174 non-null  int64
 7   3n. Current status of bus                            12174 non-null  object
 8   3o. Batch                                            12174 non-null  int64
 9   3p. Quarter awarded                                  12174 non-null  object
 10  3q. Quarter ordered                                  5581 non-null   object
 11  3r. Quarter delivered                                3445 non-null   object
 12  3s. Quarter first operating                          3293 non-null   object
 13  Awarded as #                                         2 non-null      object
 14  Ordered as #                                         0 non-null      float64
 15  Delivered as #                                       2 non-null      object
 16  First operating as #                                 2 non-null      object
 17  Format (to determine which formula to use to check)  12154 non-null  object
 18  Check                                                2 non-null      object
 19  Year for MEL - awarded                               8505 non-null   object
 20  Year for MEL - ordered                               5139 non-null   float64
 21  3t. Bus OEM                                          5717 non-null   object
 22  3u. Electric powertrain manufacturer                 1271 non-null   object
 23  3v. Model                                            4331 non-null   object
 24  3w. Type                                             4732 non-null   object
 25  3x. Dealer                                           3893 non-null   object
 26  3y. Multiple funding sources used?                   12130 non-null  object
 27  3z. Funding source 1                                 11445 non-null  object
 28  3aa. Agency administering funds 1                    11339 non-null  object
 29  3z. Funding source 2                                 630 non-null    object
 30  3aa. Agency administering funds 2                    611 non-null    object
 31  3z. Funding source 3                                 43 non-null     object
 32  3aa. Agency administering funds 3                    43 non-null     object
 33  3z. Funding source 4                                 11 non-null     object
 34  3aa. Agency administering funds 4                    12 non-null     object
 35  3ab. Dollar amount toward bus                        4040 non-null   float64
 36  3ac. Charging company                                1128 non-null   object
 37  3ad. Charging funding source                         237 non-null    object
 38  3ae. Dollar amount toward charger                    2638 non-null   float64
 39  3af. Notes 1                                         1701 non-null   object
 40  3af. Notes 2                                         151 non-null    object
dtypes: float64(4), int64(2), object(35)
memory usage: 3.8+ MB

üìç Aper√ßu - State-level data

,1a. State,2a. Total number of school buses (SBF 2022-23),2a. Total number of school buses (FHWA 2022),2a. Total number of school buses (WRI 2024),3a. Number of committed ESBs,3i. Percent committed ESBs (Atlas),3i. Percent committed ESBs (SBF),3i. Percent committed ESBs (FHWA),3i. Percent committed ESBs (WRI),"3i. Average of percentages of committed ESBs (Atlas, SBF, FHWA, WRI)",3i. Range of lowest percentage to highest percentage of committed ESBs Estimates,8a. Approximate total number of students riding ESBs,"8b. Number of persons, mode to school: school bus","8c. Percent of persons, mode to school: school bus",8d. Pupil transportation requirement?,8e. Details,8f. Pupil transportation funding method
0,ALABAMA,7820.0,0.0,10482.0,70,0.006852,0.008951,NaN,0.006678,0.007494,0.002273,1283.713171,249000.0,0.363,NaN,NaN,NaN
1,ALASKA,962.0,1310.0,954.0,2,0.001470,0.002079,0.001527,0.002096,0.001793,0.000627,164.744283,34000.0,0.303,NaN,NaN,NaN
2,AMERICAN SAMOA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN

üîå Aper√ßu - Utilities

,1a. State,1b. LEA name,1c. LEA ID,9a. Utility name 1,9a. Utility name 2,9a. Utility name 3,9a. Utility name 4,9a. Utility name 5,9a. Utility name 6,9a. Utility name 7,...,9b. Cooperative ownership,9c. Federal ownership,9d. Investor ownership,9e. Municipal ownership,9f. Municipal marketing authority,9g. Political subdivision,9h. State ownership,9i. Wholesale,9j. Not available,9k. RTO/ISO
0,ALABAMA,Alabama Youth Services,100002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Southeast
1,ALABAMA,Albertville City,100005,MARSHALL-DE KALB ELECTRIC COOP,GUNTERSVILLE ELECTRIC BOARD,ALBERTVILLE MUNICIPAL UTILITIES BOARD,NaN,NaN,NaN,NaN,...,yes,no,no,yes,no,no,no,no,no,Southeast
2,ALABAMA,Marshall County,100006,ALABAMA POWER CO,JOE WHEELER ELEC MEMBER CORP,SAND MOUNTAIN ELECTRIC COOP,NORTH ALABAMA ELECTRIC COOP,CITY OF HUNTSVILLE - (AL),CHEROKEE ELECTRIC COOP,MARSHALL-DE KALB ELECTRIC COOP,...,yes,no,yes,yes,no,no,no,no,no,Southeast